{:source-url "https://www.sozialministerium.at/Informationen-zum-Coronavirus/Neuartiges-Coronavirus-(2019-nCov).html"
 :sheet-id "15Uky6rrLP2okIKHXZw-rziuPAEydtk0v9BpV7u53DKM"
 :worksheet-id "om75lgj"}
